//====================================================================================================
.footer {

    // .footer__container

    &__container {
        padding: 0px 0px 110px 0px;
    }

    // .footer__items

    &__items {
        display: flex;
        justify-content: center;
        
        @media (max-width:em(425)){
            flex-direction: column;
            gap: 50px;
            align-items: center;
        }
    }

    // .footer__item

    &__item {
        
       
    }

}
.item {

    &__social {
        display: flex;
        text-align: center;
       // align-items: center;
        gap: 40px;
    }
    // .item__icon

    &__icon {
        padding: 0px 0px 15px 0px;
    }

    // .item__text

    &__text {
        padding: 0px 0px 10px 0px;
        font-weight: 400;
        font-size: rem(22);
        line-height: 150%;
        letter-spacing: 0.22px;
        color: $textColor;
        @media (max-width:em(425)){
            font-size: rem(18);
        }
    }

    // .item__link

    &__link {
    }
}
.footer {

		// .footer__blocks

		&__blocks {
            display: flex;
            gap: 100px;
            flex-wrap: wrap;
            margin: 0px 0px 0px 10px; 
		}

		// .footer__block

		&__block {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            @media (max-width:em(1289)){
               padding-left: 50px;
                max-width: 10%;
          }
        &_1 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            @media (max-width:em(1289)){
                  display: none;
            }
        }
        &_2 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            @media (max-width:em(1289)){
                display: none;
          }
        }
		}

		// .footer__link

		&__link {
           padding: 0px 0px 30px 0px;
           font-weight: 400;
            font-size: rem(22);
            line-height: 150%;
            letter-spacing: 0.22px;
            color: $textColor;
           &:first-child {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.22px;
            color: $mainColor;
          
           }
		}
}
.copyright {
    border-top: 1px solid #E5E5E5;
    // .copyright__container

    &__container {
    }

    // .copyright__text

    &__text {
        padding: 35px 0px 35px 0px;
        display: flex;
        font-size: rem(22);
        justify-content: center;
        span {
            color: #CDA274;
           } 
           @include adaptiveValue("font-size", 22, 14, 755, 320);
           @media (max-width:em(733)){
              min-width: 100%;
              align-items: center;
              justify-content: center;
           }
         
    }
   
}


//====================================================================================================
