//====================================================================================================

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: rem(767)) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

.header {
	z-index: 3;
	background-color: #fff;
	// .header__container

	&__container {
	}

	// .header__menu

	&__menu {
		display: flex;
		flex-shrink: 1;
		flex-grow: 0;
		align-items: center;
		padding: 30px 0px 30px 0px;
		
	}
}
.menu {

	// .menu__icon

	&__icon {
		
		@media (max-width:em(767)){
			  margin-right: rem(500);
			 @include adaptiveValue("margin-right", 500, 50, 767, 275 );
		}
	
}

	// .menu__body

	&__body {
		display: flex;
		margin-left: rem(480);
		text-align: center;
		flex-wrap: wrap;
	@include adaptiveValue("margin-left", 480, 40, 1400, 767);	  

		 @media (max-width: rem(767)){
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 100%; 
			background: $hoverColor;
			transition: left 0.3s ease 0s;
			z-index: 3;
			.menu-open & {
				top: 0;
				left: 0;
				margin-left: 0px;
				align-items: center;
				justify-content: center;
				
			}
		 }

	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: rem(40);
		@media (max-width: rem(767)){
		.menu-open & {
			flex-direction: column;
			gap: rem(20);
		}
	}
	}

	// .menu__item

	&__item {
		:hover {
			color: $hoverColor;
			transition: all 0.3s ease;
		}	
		font-weight: 400;
		font-size: rem(19);
		line-height: 158%;
		letter-spacing: rem(0.4);
		@media (max-width: rem(767)){
			font-size: rem(50);
			
		}
	}

	// .menu__link

	&__link {
		color: $mainColor;
		
	}
}
.icon-menu {
}
