@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "base/mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
//@import "base/fonts";
@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=DM+Serif+Display:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "base/icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Jost";
$fontSize: rem(22); // где 14(px) - размер шрифта по умолчанию из макета
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина полотна (макета)
$maxWidthContainer: 1200; // Ширина ограничивающего контейнера (0 = нет ограничения)
$containerPadding: 30; // Общий отступ у контейнера (30 = по 15px слева и справа)
$containerWidth: $maxWidthContainer + $containerPadding; // Ширина страбатывания первого брейкпоинта
// Брейкпоинты
$md1: math.div($containerWidth, 16) + em; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md2: math.div(991.98, 16) + em; // Планшеты, некоторые телефоны в горизонтальном положении
$md3: math.div(767.98, 16) + em; // Телефоны L
$md4: math.div(479.98, 16) + em; // Телефоны S

// Основной цвет шрифта
$mainColor: #292F36;
$hoverColor: #CDA274;
$whiteColor: #ffff;
$textColor: #4D5053;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "base/null";

body {
	color: $mainColor;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	min-height: 100%;
	display: grid;
	overflow: hidden;
	grid-template-rows: auto 1fr auto;
	// Сайт загружен
	.loaded & {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

// По брейкпоинтам
/*
[class*="__container"] {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0 math.div($containerPadding, 2) + px;
	}
}
*/
// Отзывчивая
[class*="__container"] {
	@if ($maxWidthContainer>0) {
		max-width: $maxWidthContainer + px;
		margin: 0 auto;
	}
	box-sizing: content-box;
	padding: 0 math.div($containerPadding, 2) + px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

// Подключение базовых стилей
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей отдельных страниц
@import "header";
@import "footer";
@import "home";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	min-width: 0;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
.some-block {
	background-color: rgb(179, 117, 37);
}

